body {background-color: #3366DD; margin: 3%;}
div {background-color: #F0F0F0; border-style: solid;}

div.title {width: 100%; margin: 0em; text-align: left; border-style: none; background-color:#3366DD}
div.left-title {float: left; width: 75%; padding: 0em; margin-bottom: 2em;}
div.left-title ul {text-align: left; list-style-type: none;}
div.title img {float: right; margin-left: 1.5em;}
div.title a img {border: none;}
div.navigation {float: right; width: 20%; height: 281px; margin-botton: 2em;
text-align: center;}

div.contents {float:left; width: 75%; padding-left: 0em; padding-right: 0em;}
div.contents p {clear: both;}
div.contents h2 {text-align: center}
div.contents img {margin: 1em; float: left;}

div.sidebar {float:right; width: 20%; text-align: left;}
div.sidebar ul {text-align: left; font-size: small; margin: 1em}
div.sidebar h4  {text-align: center}

div.entry {border-style: none; margin: 1.5em}
div.entry div {border-style: none;}
div.entry-action-links {text-align: center;}
div.timestamp {font-size: small; text-align: center; font-style: italic;}
div.comments {background-color: #CCFFCC;}
div.tagpics img {float: right; width: 50px; height: 50px;}

.imgset { float: left;}
.caption { font: small caption; text-align: center; margin: 0.5em; }

div.unfold-div { display: none; }

a.unfold-link {color: blue; text-align: center; text-decoration: underline;}

#hidden-tag-list { display: none; }