body {background-color: #3366DD; margin: 1%}
div {background-color: #F0F0F0; border-style: solid;}

div.title {width: 100%; margin: 0em; text-align: center; border-style: none;}
div.title img {margin: 0.5em;}
div.left-title {float: left; width: 73%; padding: 0em; text-align: center; min-height: 300px; margin-bottom: 1.5em;}
div.navigation {float: right; width: 23%; text-align: left; min-height: 300px;}
div.navigation ul {text-align: left; list-style-type: none;}

div.contents {float:left; width: 73%; padding-left: 0em; padding-right: 0em;}
div.contents p {clear: both;}
div.contents h2 {text-align: center}
div.contents img {margin: 1em; float: left;}

div.sidebar {float:right; width: 23%; text-align: left;}
div.sidebar ul {text-align: left; font-size: small; margin: 1em;}
div.sidebar h4  {text-align: center}
div.sidebar a img {text-align: center}

div.entry {border-style: none; margin: 1.5em}
div.entry div {border-style: none;}
div.entry-action-links {text-align: center;}
div.timestamp {font-size: small; text-align: center; font-style: italic;}
div.comments {background-color: #CCFFCC;}

div.login {text-align: center; padding: 2em;}

.imgset { float: left;}
.caption { font: small caption; text-align: center; margin: 0.5em; }

div.unfold-div { display: none; }
div.hidden-comment { display: none; }

a.unfold-link {color: blue; text-align: center; text-decoration: underline;}
a.comment-link {color: blue; text-align: center; text-decoration: underline;}

#hidden-tag-list { display: none; }