<p>${error}</p>
<p>Login to leave comments on Jono's blog.  I will not sell your email address to the Russian Mafia.</p>
<h3>Have an account already?</h3>
<form method="post" action="${action}">
  <table>
    <tr><td>Name:</td><td><input name="username" type="text"></td></tr>
    <tr><td>Password:</td><td><input name="password" type="password"></td></tr>
  </table>
  <input type="submit" name="submission" value="Login">
</form>
<h3>Creating an account for the first time?</h3>
<form method="post" action="${action}">
  <table>
    <tr><td>Name:</td><td><input name="username" type="text"></td></tr>
    <tr><td>Password:</td><td><input name="password" type="password"></td><td>At least 5 characters</td></tr>
    <tr><td>Confirm Password:</td><td><input name="password2" type="password"></td></tr>
    <tr><td>Email:</td><td><input name="email" type="text"></td><td>(Optional)</td></tr>
    <tr><td >Type the word 'crumpets' in this field:</td><td><input name="turing" type="text"></td><td>(To prove you are a human and not a spambot.)</tr>
  </table>
  <input type="submit" name="submission" value="Create">
</form>
<p><b>WARNING:</b> The password you enter here is transmitted unecrypted.  Use a disposable password!  In other words, do not use the same password here you use for your impportant stuff, because some '1337 haXX0r' could yank it and 'p0wn' you.</p>
