<p>${error}</p>
<p>Login to leave comments on Jono's blog.  I will not sell your email address to the Russian Mafia.</p>
<h3>Have an account already?</h3>
<form method="post" action="${action}">
  <table>
    <tr><td>Name:</td><td><input name="username" type="text"></td></tr>
    <tr><td>Password:</td><td><input name="password" type="password"></td></tr>
  </table>
  <input type="submit" name="submission" value="Login">
</form>
<p>New user account creation is disabled until the internet shitstorm blows over. Sorry.</p>
