<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Evilbrainjono.net login</title>
    <link rel="stylesheet" type="text/css" href="/jono.css"/>
    <script src="/jquery.js"></script>
    <script src="/evilbrainjono.js"></script>
  </head>
  <body>
    <div class="login">
      <p>${error}</p>
      <h2>Evilbrainjono.net</h2>
      <form method="post" action="${action}">
        <table>
          <tr><td>Name:</td><td><input name="username" type="text"></td></tr>
          <tr><td>Password:</td><td><input name="password" type="password"></td></tr>
        </table>
        <input type="submit" name="submission" value="Login">
      </form>
    </div>
  </body>
</html>



