<br/>Tags:<br/>
<span id="hidden-tag-list">${tag_list}</span>
<input type="text" name="tags" id="tag-input" size="60"/>
<br/><span id="tag-suggestions"></span>
<br/><input type="checkbox" name="tweet" value="yes" checked></input>Tweet link
<input type="checkbox" name="dorss" value="yes" checked></input>Add to RSS feed
<input type="checkbox" name="public" value="yes" ${public_checked}></input>Public post
<br/>More Message:<br/>
<textarea name="more_message" rows=20 cols=64>${more_words}</textarea><br/>
